.profile-image{
    width: 30px;
    height: 30px;
    border-radius:25px;
    margin:5px;
}

.profile-image:hover{
    cursor: pointer;
}

#mainHeader{
    flex-grow: 1;
    /*position: fixed;*/
    width: 100%;
}

#appNameHeader {
    flex-grow: 1;
}

#appNameHeader:hover{
    cursor: pointer;
}

#searchBarMain{
    width: 50px;
    transition: width 0.5s;
}

#searchBarMain:hover{
    width:200px;
}

#searchBarMain:focus{
    width:200px;
}

#rightSideOfMainHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

#rightSideOfMainHeader > * {
    margin-left: 10px;
}

#leftSideOfMainHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    flex-grow: 1;
}