.custom-scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #3d465c var(--background-default, #141820);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--background-default, #141820);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3d465c;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4f5a72;
}