.css-1xs1fn5-MuiButtonBase-root-MuiIconButton-root{
    padding: 0 !important;
    margin-bottom: 5px !important;
}

/* General container for the listing */
.listing {
    width: 800px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: black;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Header styling with image and basic details */
.listingHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /*padding: 10px;*/
    font-size: 15px;
    /*margin-bottom: 10px;*/
    min-height: 55px;
    padding-bottom: 0;
}

.ownerListingElements {
    display: block;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*gap: 5px; !* This will not apply with block display, but you can use margin instead *!*/

    margin-right: 20px;
}

.ownerListingElements p {
    margin-top: 0px;
    margin-bottom: 0;
}

.ownerListingElements img {
    width: 40px; /* size of the profile image */
    height: 40px;
    border-radius: 50%; /* circular profile image */
}

.listingTitle{
    position: relative;
    /*top: 12px; !* space between header and title *!*/
    flex-grow: 2;
}

.listingTitle p {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.listingType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right; /* aligns to the far right */
}

.listingType  .listingType-Band{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9a1a1a;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    min-width: 80px;
    font-size: 12px;
}

.listingType  .listingType-CollaborativeSong{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2860dc;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    min-width: 80px;
    font-size: 12px;
}

.listingType  .listingType-Band p {
    margin: 0;
    padding: 0;
}

.listingType p {
    font-size: 12px;
    margin: 0;
}

/* Body section for the description */
.listingBody {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    color: #555;
    max-height: 150px;
    overflow-y: auto;
}

/* Footer section for musician slots */
.listingFooter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 210px;
    overflow-y: auto;
}

.listingFooter img {
    width: 40px; /* size of the profile image */
    height: 40px;
    border-radius: 50%; /* circular profile image */
}

/* Individual musician slot styling */
.listingFooter .listingRole {
    width: calc(20% - 8px);
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.listingFooter p {
    margin: 0;
}

/* Available slot status */
.listingFooter .status-available {
    background-color: #ccc;
}

.listingFooter .status-available:hover {
    background-color: #bdbdbd;
}

.listingFooter .status-filled {
    background-color: #4caf50;
    color: white;
}

.listingFooter .status-filled:hover {
    background-color: #357a38;
    color: white;
}
.listingsFilters {
    position: fixed;
    left: 5%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 100;
    border: 2px solid #649a8b;
    box-shadow: #61dafb 0px 0px 10px;
    border-radius: 8px;
    padding: 20px;
    background-color: #464646;
    width: auto;
}

@media (max-width: 1400px) {
    .listingsFilters {
        left: 0%;
    }
}

@media (max-width: 1250px) {
    .listingsFilters {
        display: flex;
        position: relative;
        left: auto;
        top: auto;
        flex-direction: row;
        padding: 5px;
        justify-content: start;
        align-items: center;
        width: 70%;
        font-size: 12px;
    }

    .listingsFilters > * {
        flex-grow: 1; /* Ensure flex-grow is set to 1 */
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        margin-bottom: 0;
        border-bottom: 0 !important;

        font-size: 12px;
        width: 20% !important;
    }

    .filtersCheckboxes {
        flex-grow: 0 !important; /* Ensure flex-grow is set to 1 */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        border-right: 1px solid #ccc;
        gap: 5px;
        width: auto;
    }
}

.listingsFilters > * {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}