
.wholeEditBody{
    padding-top: 10px !important;
    background-color: #2a2a2a !important;
    /*border-radius: 8px !important;*/
}

.listing-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editorHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.editorUnderHeader{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.editorBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.editorFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0 !important;
    max-height: 300px;
    overflow-x: auto;
}

@media (max-height: 750px) {
    .editorFooter {
        max-height: 220px;
    }
}

.listingRoleEdited{
    width: 220px;
    padding: 8px;
    background-color: #424242;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    color: #333;
    margin: 8px;
    margin-bottom: 0;
}

.listingRoleEdited img {
    width: 40px; /* size of the profile image */
    height: 40px;
    border-radius: 50%; /* circular profile image */
}

.editorFooter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.editorFooter p {
    margin: 0;
    font-size: 12px !important;
}

/* Available slot status */
.editorFooter .status-available {
    background-color: #424242;
    transition: background-color 0.2s;
}

.editorFooter .status-available:hover {
    background-color: #3a3a3a;
    transition: background-color 0.2s;
}

.editorFooter .status-filled {
    background-color: #2a642c;
    transition: background-color 0.2s;
    color: white;
}

.editorFooter .status-filled:hover {
    background-color: #1f4b21;
    transition: background-color 0.2s;
    color: white;
}

.editorFooter .underEditorFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.editorFooter .underEditorFooter Select {
    margin-left: 5px;
}
.editorFooter #addRolesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    padding: 8px;
    /*background-color: #e0e0e0;*/
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    /*color: #333;*/
    margin: 8px;
    margin-bottom: 0;
}

.kindaHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.kindaHeader div{
    flex-grow: 1;
}

#saveButtonEditListing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#saveButtonEditListing button{
    height: 40px;
}