.css-1jde8n2-MuiPaper-root-MuiDrawer-paper{
    display: flex !important;
    flex-direction: column !important;
    justify-content: start;
    align-items: start;
}

.drawerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    width: 100%;
    height: 64px;
    font-size: 30px;
    font-weight: bold;
    color: #61dafb;
}


.drawerBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.accountButtonsDrawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.accountButtonsDrawer button{
    margin: 5px;
    padding: 0;
    width: 100%;
    height: 50px;
    font-size: 12px;
}

#accountActionsMenu button{
    width: 230px;
    height: 50px;
}

.profileShowDrawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.profileShowDrawer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.profileShowDrawer p{
    font-size: 20px;
    font-weight: bold;
}
.smallerButtonsDrawer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.smallerButtonsDrawer button{
    margin: 0;
    width: 50%;
    height: 50px;
    font-size: 12px;
}

.smallerButtonsDrawer button:nth-child(1){
    margin-right: 5px;
}

.smallerButtonsDrawer button:nth-child(2){
    margin-left: 5px;
}

.drawerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    width: 100%;
    height: 64px;
    font-size: 30px;
    font-weight: bold;
}

.musicTasteDrawer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
    font-size: clamp(12px, 1.3vw, 15px); /* Adjusts font size based on viewport */
}

.musicTasteDrawer > *{
    margin: 5px;
    border: #61dafb 1px solid;
    border-radius: 5px;
    padding: 5px;
}

#topArtistsDrawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#topGenresDrawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}